@import url('https://fonts.googleapis.com/css2? family= Poppins:ital,wght@1.100 & display=swap');

body{
    margin:0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    color: #1e1e2a;
}

/*HEADER*/

.header-container{
    height: 90vh;
    background-image: url('../Portfolio-main/perfil.png');
    background-color: #38B6FF;
    background-repeat: no-repeat;
    background-position: top right;
    background-size: contain;
    background-size: 540px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 200px;
    position: relative;
}

.menu img{
    height: 100%;
}


h1{
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 6px;
}

h3{
       
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 2px;


}

.social-media{
    margin-top: 1rem;
    display: flex;
}

.social-media a {
    text-decoration: none;
    color: #1e1e2a;
    padding: 1rem 3rem ;
    border: 1px solid #1e1e2a;
    min-width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s ease-in-out;
    font-size: 15px;
}

a:hover{

    background-color: #ffff;
}

/*MENU HAMBURGUER*/

.checkbox-container{

    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox{
    width: 100px;
    height: 100px;
    position: absolute;
    right: 0;
    top:0;
    display: flex;
    justify-content: center;
    cursor: pointer;
    z-index: 9999;
    transition: 400ms ease-in-out 0s;   

}

.checkbox .trace{

    width: 50px;
    height: 2px;
    background-color: #1e1e2a;
    position: absolute;
    border-radius:4px ;
    transition: 0.5s ease-in-out;
}

.checkbox .trace:nth-child(1){
    top: 26px;
    transform: rotate(0);

}

.checkbox .trace:nth-child(2){
    top: 46px;
    transform: rotate(0);

    
}

.checkbox .trace:nth-child(3){
    top: 66px;
    transform: rotate(0);

    
}

#toggle{
    display: none;
}

/*MENU*/

.menu{
    position: absolute;
    top: 28px;
    right: 30px;
    background-color: transparent;
    height: 4px;
    width: 10px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px #ffffff;
    z-index: -1;
    transition: 400 ms ease-in-out 0s;
}

.menu-items{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: 400ms ease-in-out 0s;
}

.menu-items ul{

    list-style-type:none; ;
}

.menu-items ul, li, a {
    margin: 10px 0;
    color: #1e1e2a;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 40px;
}

/*ANIMAÇÃO DO MENU */ 

#toggle:checked + .checkbox .trace:nth-child(1){
  transform: rotate(45deg);
  top: 47px;

}

#toggle:checked + .checkbox .trace:nth-child(2){
    transform: rotate(-100px);
    width: 30px;
    visibility: hidden;
    opacity: 0;
  
  }

  #toggle:checked + .checkbox .trace:nth-child(3){
    transform: rotate(-45px);
    top: 48px;

  
  }

  #toggle:checked + .checkbox{
    background-color: #ffffff;

  }

  #toggle:checked ~ .menu{
    box-shadow: 2px 5px 10px 100vmax #ffffff;
    z-index: 1;

  }

  #toggle:checked ~ .menu-items{
    visibility: visible;
    opacity: 1;
  }


  

 .background-color{
    background-color: #1E90FF	;
    width: 100%;
    padding: 100px 0px;
    background-repeat:repeat;

 }

 .background-color img{
    background-image: url('../Portfolio-main/background.jpg');
 }

.texto-sobre{
    width: 430px;
    height: auto;
    
    
}
 
.Main-sobre{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    margin: auto;
    
}



.texto-sobre h2{
    color:#1e1e2a;
    font-size: 50px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.texto-sobre h5{
    letter-spacing: 2px;
    font-size: 15px;
}

.texto-sobre p{

    letter-spacing: 0px;
    line-height: 28px;
    font-family:sans-serif;
    border-radius: 15px 50px 30px;
}

.Container-serviços{
    background-color: #101010;
    width: 100%;
    padding: 50px 0px;
}

.title h2{
    color: #fff;
    font-size: 60px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}

.Caixa{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    flex-wrap: wrap;
}

.Card{
    background: #191919;
    height: 300px;
    width: 300px;
    border-radius: 20px;
    margin: 30px;
    position: relative;
    overflow: hidden;
    text-align:  center;
    
}

.Card i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: #f9004d;
}

h5{
    color: #fff;
    font-size: 23px;
    margin-bottom: 15px;
}

.Paragrafo-button{
    color: #fcfc;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}

.Paragrafo-button button{
    margin-top: 25px;
}
button {
    background-color: #f9004d;
    color: #fff;
    text-transform: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 20px;
    border-radius: 30px;
    transition: .4s;
}

.me-contate {
    width: 100%;
    height: 290px;
    background-color: #191919;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
}

.me-contate p{
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
}
.me-contate {
    width: 100%;
    height: 290px;
    background-color: #191919;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
}

.me-contate p{
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
}

footer{
    position: relative;
    width: 100%;
    height: 400px;
    background-color: #101010;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer h6{
    font-size: 35px;
    color: #fff;
}

footer p{
    color: #fff;
    font-size: 15px;
    width: 500px;
    text-align: center;
    margin-top: 15px;
    letter-spacing: 1px;
    line-height: 23px;
}

.Redes-sociais{
    display: flex;
    
}

.Redes-sociais a{
    background-color: #f9004d;
    width: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 50%;
    margin: 22px 10px;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.Redes-sociais a:hover{
    transform: scale(1.2);
    transition: .3s;
}

.end{
    position: absolute;
    color: #ffffff;
    bottom: 0px;
    font-size: 14px ;
    margin: auto;
}
 

 





